$primary: #212121;
$primary_s: #9E9E9E;
$secondary: #E0F7FA;
$third: #004D40;
$third_s: #00796B;
$red: #F44336;


$font-color: #fff;

$loader_background: $primary;
$loader_color: #fff;
$loader_border_width: 4px;
$loader_speed: 1s;
$loader_size: 100px;