@import url("https://fonts.googleapis.com/css?family=Chicle|Open+Sans");
@import url("fontello.css");
header {
  height: calc(100vh - 3em);
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header #motto {
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  -webkit-text-shadow: 1px 1px 6px #000;
  -moz-text-shadow: 1px 1px 6px #000;
  -o-text-shadow: 1px 1px 6px #000;
  text-shadow: 1px 1px 6px #000;
  position: relative;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
header #motto .author {
  color: #fff;
  position: absolute;
  top: 150%;
  right: 20%;
}
header #motto::after, header #motto::before {
  content: "";
  position: absolute;
  width: 50%;
  left: 25%;
  height: 6px;
  background: #fff;
}
header #motto::after {
  bottom: -20px;
}
header #motto::before {
  top: -5px;
}

nav {
  line-height: 3em;
  width: 100%;
  background: #212121;
  cursor: default;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}
nav ul li {
  list-style-type: none;
  background: #212121;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
nav .hamburger {
  position: relative;
  display: none;
  width: 100%;
  height: 3em;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
  z-index: 10;
  grid-column: 2/4;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav .hamburger span {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: #00796B;
  width: 100%;
  height: 7px;
  border-radius: 6px;
  width: 50px;
}
nav .hamburger span:nth-child(2), nav .hamburger span:nth-child(3) {
  margin-top: 7px;
}
nav .hamburger.active span:nth-child(1) {
  transform: rotate(-45deg);
}
nav .hamburger.active span:nth-child(2) {
  opacity: 0;
}
nav .hamburger.active span:nth-child(3) {
  transform: rotate(45deg);
  margin-top: -22px;
}
nav a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #7a7a7a;
  cursor: pointer;
  padding: 0 20px;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
  text-align: center;
}
nav a:hover, nav a.active {
  color: #fff;
}
nav #infobar {
  position: absolute;
  height: 2px;
  width: 25%;
  bottom: 0;
  background: #fff;
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
nav .effect {
  margin: -100px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  pointer-events: none;
  -webkit-animation: clickeffect 1s ease 1;
  -moz-animation: clickeffect 1s ease 1;
  -o-animation: clickeffect 1s ease 1;
  animation: clickeffect 1s ease 1;
}
@-webkit-keyframes clickeffect {
  0% {
    opacity: 0.7;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
@-moz-keyframes clickeffect {
  0% {
    opacity: 0.7;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
@-o-keyframes clickeffect {
  0% {
    opacity: 0.7;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes clickeffect {
  0% {
    opacity: 0.7;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

main {
  overflow: hidden;
}
main .title {
  padding: 1em 2em;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Chicle", cursive;
  margin-top: 30px;
}
main .wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 60px;
  margin-bottom: 50px;
}
main .wrapper:last-child {
  margin-bottom: 0;
}
main .wrapper:nth-child(2n+1) {
  background: #9E9E9E;
}
main .wrapper:nth-child(2n+1)::before, main .wrapper:nth-child(2n+1)::after {
  height: 100%;
  width: 200%;
  position: absolute;
  top: 0;
  left: -50%;
  background: #9E9E9E;
  z-index: -1;
  margin: -2em;
}
main .wrapper:nth-child(4n+1)::before, main .wrapper:nth-child(4n+3)::after {
  transform: rotate(-2.5deg);
}
main .wrapper:nth-child(4n+3)::before, main .wrapper:nth-child(4n+1)::after {
  transform: rotate(2.5deg);
}
main .wrapper:nth-child(4n+3)::after, main .wrapper:nth-child(4n+1)::after {
  top: unset;
  bottom: -5%;
}
main .wrapper:first-child::before {
  top: -70%;
  height: calc(170% + 2em);
}
main .wrapper:last-child::after {
  top: 50% !important;
  height: 200% !important;
}
main .wrapper #o-mnie + .content {
  display: flex;
  justify-content: space-between;
}
main .wrapper #o-mnie + .content .opis {
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
main .wrapper #o-mnie + .content .fota {
  margin-top: -45px;
  margin-bottom: 100px;
  order: 1;
}
main .wrapper #o-mnie + .content .fota img {
  height: 250px;
  width: 250px;
  margin-top: 100px;
  margin-right: 130px;
  -webkit-box-shadow: 60px 60px 27px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 60px 60px 27px -24px rgba(0, 0, 0, 0.75);
  box-shadow: 60px 60px 27px -24px rgba(0, 0, 0, 0.75);
  transform: rotate(30deg) translate(40px, -78px);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 0.43, 0.27, 1.55);
  -moz-transition: all 0.4s cubic-bezier(0.23, 0.43, 0.27, 1.55);
  -o-transition: all 0.4s cubic-bezier(0.23, 0.43, 0.27, 1.55);
  transition: all 0.4s cubic-bezier(0.23, 0.43, 0.27, 1.55);
  border-radius: 6px;
}
main .wrapper #o-mnie + .content .fota:hover img {
  transform: rotate(0);
  -webkit-box-shadow: 20px 20px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 20px 20px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 20px 20px 15px -3px rgba(0, 0, 0, 0.75);
}
main .wrapper .jezyk_info {
  z-index: 999;
  background: #212121;
  color: #fff;
  max-width: 30vw;
  padding: 10px;
  border-radius: 6px 18px;
  -webkit-transition: all 0.2s cubic-bezier(0.23, 0.43, 0.27, 1.55);
  -moz-transition: all 0.2s cubic-bezier(0.23, 0.43, 0.27, 1.55);
  -o-transition: all 0.2s cubic-bezier(0.23, 0.43, 0.27, 1.55);
  transition: all 0.2s cubic-bezier(0.23, 0.43, 0.27, 1.55);
}
main .wrapper .jezyk_info a {
  position: relative;
  color: #fff;
}
main .wrapper .jezyk_info a:hover {
  color: #fff;
}
main .wrapper .jezyki {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .wrapper .jezyki .jezyk {
  width: 200px;
  height: 200px;
  background: #F44336;
  font-weight: 700;
  color: #fff;
  margin: 20px 30px;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .wrapper .jezyki .jezyk::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 100%;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
main .wrapper .jezyki .jezyk:nth-child(5n+1)::before {
  -webkit-animation: moving-circle 2s cubic-bezier(0.6, 0.04, 0.01, 1) infinite;
  -moz-animation: moving-circle 2s cubic-bezier(0.6, 0.04, 0.01, 1) infinite;
  -o-animation: moving-circle 2s cubic-bezier(0.6, 0.04, 0.01, 1) infinite;
  animation: moving-circle 2s cubic-bezier(0.6, 0.04, 0.01, 1) infinite;
}
main .wrapper .jezyki .jezyk:nth-child(5n+2)::before {
  -webkit-animation: moving-circle 1.85s cubic-bezier(0.6, 0.04, 0.02, 1) infinite;
  -moz-animation: moving-circle 1.85s cubic-bezier(0.6, 0.04, 0.02, 1) infinite;
  -o-animation: moving-circle 1.85s cubic-bezier(0.6, 0.04, 0.02, 1) infinite;
  animation: moving-circle 1.85s cubic-bezier(0.6, 0.04, 0.02, 1) infinite;
}
main .wrapper .jezyki .jezyk:nth-child(5n+3)::before {
  -webkit-animation: moving-circle 1.7s cubic-bezier(0.6, 0.04, 0, 1) infinite;
  -moz-animation: moving-circle 1.7s cubic-bezier(0.6, 0.04, 0, 1) infinite;
  -o-animation: moving-circle 1.7s cubic-bezier(0.6, 0.04, 0, 1) infinite;
  animation: moving-circle 1.7s cubic-bezier(0.6, 0.04, 0, 1) infinite;
}
main .wrapper .jezyki .jezyk:nth-child(5n+4)::before {
  -webkit-animation: moving-circle 1.55s cubic-bezier(0.6, 0.04, 0.01, 1) infinite;
  -moz-animation: moving-circle 1.55s cubic-bezier(0.6, 0.04, 0.01, 1) infinite;
  -o-animation: moving-circle 1.55s cubic-bezier(0.6, 0.04, 0.01, 1) infinite;
  animation: moving-circle 1.55s cubic-bezier(0.6, 0.04, 0.01, 1) infinite;
}
main .wrapper .jezyki .jezyk:nth-child(5n+5)::before {
  -webkit-animation: moving-circle 1.4s cubic-bezier(0.6, 0.04, 0.02, 1) infinite;
  -moz-animation: moving-circle 1.4s cubic-bezier(0.6, 0.04, 0.02, 1) infinite;
  -o-animation: moving-circle 1.4s cubic-bezier(0.6, 0.04, 0.02, 1) infinite;
  animation: moving-circle 1.4s cubic-bezier(0.6, 0.04, 0.02, 1) infinite;
}
@-webkit-keyframes moving-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@-moz-keyframes moving-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@-o-keyframes moving-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes moving-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
main .wrapper .jezyki .jezyk::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #fff;
  border-radius: 100%;
  z-index: -1;
  -webkit-animation: blow-up 2s cubic-bezier(0.47, 0.01, 0.56, 1.68) infinite;
  -moz-animation: blow-up 2s cubic-bezier(0.47, 0.01, 0.56, 1.68) infinite;
  -o-animation: blow-up 2s cubic-bezier(0.47, 0.01, 0.56, 1.68) infinite;
  animation: blow-up 2s cubic-bezier(0.47, 0.01, 0.56, 1.68) infinite;
}
@-webkit-keyframes blow-up {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    opacity: 0;
  }
}
@-moz-keyframes blow-up {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    opacity: 0;
  }
}
@-o-keyframes blow-up {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    opacity: 0;
  }
}
@keyframes blow-up {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    opacity: 0;
  }
}
main .wrapper .pages_content_style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
main .wrapper .pages_content_style a {
  width: 376px;
  height: calc(250px + 3em);
  margin-bottom: 3em;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 12px 12px 0 0;
  position: relative;
}
main .wrapper .pages_content_style a::before {
  content: "";
  width: 100%;
  height: 0%;
  background: #00796B;
  background: -moz-radial-gradient(center, ellipse cover, #00796B 10%, #fff 72%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%, #00796B), color-stop(72%, #fff));
  background: -webkit-radial-gradient(center, ellipse cover, #00796B 10%, #fff 72%);
  background: -o-radial-gradient(center, ellipse cover, #00796B 10%, #fff 72%);
  background: -ms-radial-gradient(center, ellipse cover, #00796B 10%, #fff 72%);
  background: radial-gradient(ellipse at center, #00796B 10%, #fff 72%);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  border-radius: 12px;
  -webkit-transition: height 0.45s cubic-bezier(0.23, 0.43, 0.27, 1.55);
  -moz-transition: height 0.45s cubic-bezier(0.23, 0.43, 0.27, 1.55);
  -o-transition: height 0.45s cubic-bezier(0.23, 0.43, 0.27, 1.55);
  transition: height 0.45s cubic-bezier(0.23, 0.43, 0.27, 1.55);
}
main .wrapper .pages_content_style a .page_thumbnail {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: calc(100% - 3em);
  overflow: hidden;
  -webkit-box-shadow: 20px 20px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 20px 20px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 20px 20px 15px -3px rgba(0, 0, 0, 0.75);
}
main .wrapper .pages_content_style a .page_thumbnail div {
  -webkit-transition: transform 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -moz-transition: transform 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -o-transition: transform 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: transform 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  height: 100%;
}
main .wrapper .pages_content_style a:hover {
  border-radius: 12px;
}
main .wrapper .pages_content_style a:hover .page_thumbnail {
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}
main .wrapper .pages_content_style a:hover .page_thumbnail div {
  transform: scale(1.2);
}
main .wrapper .pages_content_style a:hover::before {
  height: 100%;
}
main .wrapper .pages_content_style a p {
  line-height: 2.5em;
  text-align: center;
  width: 100%;
}
main .wrapper #kontakt + .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
main .wrapper #kontakt + .content a[class^=icon-], main .wrapper #kontakt + .content a[class*=" icon-"] {
  margin: 10px;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  -webkit-text-shadow: 4px 4px 9px #00796B;
  -moz-text-shadow: 4px 4px 9px #00796B;
  -o-text-shadow: 4px 4px 9px #00796B;
  text-shadow: 4px 4px 9px #00796B;
  font-size: 150px;
  padding: 10px 27px;
}
main .wrapper #kontakt + .content a[class^=icon-]:hover, main .wrapper #kontakt + .content a[class*=" icon-"]:hover {
  -webkit-text-shadow: 0 0 0 #00796B;
  -moz-text-shadow: 0 0 0 #00796B;
  -o-text-shadow: 0 0 0 #00796B;
  text-shadow: 0 0 0 #00796B;
}
main .wrapper #kontakt + .content a[class^=icon-]:nth-child(2n), main .wrapper #kontakt + .content a[class*=" icon-"]:nth-child(2n) {
  border-radius: 0 20px;
}
main .wrapper #kontakt + .content a[class^=icon-]:nth-child(2n+1), main .wrapper #kontakt + .content a[class*=" icon-"]:nth-child(2n+1) {
  border-radius: 20px 0;
}
main .wrapper #kontakt + .content a[class^=icon-]::after, main .wrapper #kontakt + .content a[class*=" icon-"]::after {
  font-size: 5em;
  width: 185px;
  padding: 14px 0;
}
main .wrapper #kontakt + .content a[class^=icon-].icon-fb, main .wrapper #kontakt + .content a[class*=" icon-"].icon-fb {
  color: #4867aa;
}
main .wrapper #kontakt + .content a[class^=icon-].icon-fb:hover, main .wrapper #kontakt + .content a[class*=" icon-"].icon-fb:hover {
  color: #fff;
  background: #4867aa;
}
main .wrapper #kontakt + .content a[class^=icon-].icon-mail, main .wrapper #kontakt + .content a[class*=" icon-"].icon-mail {
  color: #d54b3d;
}
main .wrapper #kontakt + .content a[class^=icon-].icon-mail:hover, main .wrapper #kontakt + .content a[class*=" icon-"].icon-mail:hover {
  color: #e3e3e3;
  background: #d54b3d;
}
main .wrapper #kontakt + .content a[class^=icon-].icon-fbmessenger, main .wrapper #kontakt + .content a[class*=" icon-"].icon-fbmessenger {
  color: #008aff;
}
main .wrapper #kontakt + .content a[class^=icon-].icon-fbmessenger:hover, main .wrapper #kontakt + .content a[class*=" icon-"].icon-fbmessenger:hover {
  color: #fefefe;
  background: #0084ff;
}
main .wrapper #kontakt + .content a[class^=icon-].icon-twitter, main .wrapper #kontakt + .content a[class*=" icon-"].icon-twitter {
  color: #1da1f2;
}
main .wrapper #kontakt + .content a[class^=icon-].icon-twitter:hover, main .wrapper #kontakt + .content a[class*=" icon-"].icon-twitter:hover {
  color: #fff;
  background: #1da1f2;
}
main .wrapper #kontakt + .content a[class^=icon-].icon-github-circled, main .wrapper #kontakt + .content a[class*=" icon-"].icon-github-circled {
  color: #323131;
}
main .wrapper #kontakt + .content a[class^=icon-].icon-github-circled:hover, main .wrapper #kontakt + .content a[class*=" icon-"].icon-github-circled:hover {
  color: #fff;
  background: #323131;
}

footer {
  background: #212121;
  line-height: 10em;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.7em;
}
footer a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

@media (min-width: 5000px) {
  main .page_wrapper {
    width: 80%;
  }
}
@media (max-width: 5000px) {
  main .page_wrapper {
    width: 4400px;
  }
}
@media (max-width: 4500px) {
  main .page_wrapper {
    width: 3900px;
  }
}
@media (max-width: 4000px) {
  main .page_wrapper {
    width: 3400px;
  }
}
@media (max-width: 3500px) {
  main .page_wrapper {
    width: 2900px;
  }
}
@media (min-width: 3500px) {
  main .wrapper:nth-child(4n+3)::after, main .wrapper:nth-child(4n+1)::after,
main .wrapper:nth-child(4n+3)::before, main .wrapper:nth-child(4n+1)::before {
    transform: rotate(0deg) !important;
  }
}
@media (max-width: 3000px) {
  main .page_wrapper {
    width: 2400px;
  }
}
@media (min-width: 3000px) {
  header {
    height: calc(100vh - 6em);
  }
  header #motto {
    font-size: 177px;
  }
  header #motto .author {
    font-size: 60px;
  }
  nav {
    line-height: 6em;
  }
  nav a {
    font-size: 1.5em;
  }
  main .title {
    font-size: 100px !important;
  }
  main .wrapper {
    padding: 8em 0;
  }
  main .wrapper * {
    font-size: 55px;
  }
  main .wrapper #o-mnie + .content .fota img {
    height: 800px;
    width: 800px;
  }
  main .wrapper .jezyki .jezyk {
    width: 400px;
    height: 400px;
  }
  main .wrapper #pages_content a {
    width: 1000px;
    height: calc(550px + 3em);
  }
  main .wrapper #kontakt + .content a[class^=icon-], main .wrapper #kontakt + .content a[class*=" icon-"] {
    font-size: 300px;
  }
  footer {
    font-size: 55px;
  }
}
@media (max-width: 2500px) {
  main .page_wrapper {
    width: 1900px;
  }
}
@media (max-width: 2000px) {
  main .page_wrapper {
    width: 1500px;
  }
}
@media all and (min-width: 1900px) and (max-width: 3000px) {
  header #motto {
    font-size: 110px;
  }
  header #motto .author {
    font-size: 50px;
  }
  main .wrapper #o-mnie + .content .fota img {
    height: 350px;
    width: 350px;
  }
}
@media (min-width: 1900px) {
  main .wrapper:nth-child(4n+1)::before,
main .wrapper:nth-child(4n+3)::after {
    transform: rotate(-1.5deg);
  }
  main .wrapper:nth-child(4n+1)::after,
main .wrapper:nth-child(4n+3)::before {
    transform: rotate(1.5deg);
  }
}
@media (max-width: 1650px) {
  main .page_wrapper {
    width: 1230px;
  }
}
@media (max-width: 1350px) {
  main #o-mnie + .content {
    flex-direction: column;
    align-items: center;
  }
  main #o-mnie + .content .fota {
    order: 0 !important;
    margin: 0 !important;
    margin-bottom: 40px !important;
  }
  main #o-mnie + .content .fota img {
    transform: rotate(0) !important;
    -webkit-box-shadow: 20px 20px 15px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 20px 20px 15px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 20px 20px 15px -3px rgba(0, 0, 0, 0.75);
    margin-top: 0 !important;
    margin-right: 0 !important;
  }
  main .page_wrapper {
    width: 900px;
  }
  main .page_wrapper .title {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  header #motto {
    font-size: 32px;
  }
  header #motto .author {
    font-size: 20px;
  }
}
@media (max-width: 1050px) {
  nav a {
    font-size: 20px;
  }
  main .page_wrapper {
    width: 600px;
  }
}
@media (max-width: 800px) {
  nav a {
    font-size: 15px;
  }
  main .page_wrapper {
    width: 450px;
  }
}
@media (max-width: 600px) {
  header #motto {
    font-size: 15px;
  }
  header #motto .author {
    font-size: 10px;
    top: 200%;
  }
  header #motto::after, header #motto::before {
    height: 4px;
  }
  header #motto::after {
    bottom: -14px;
  }
  nav #infobar, nav ul {
    display: none;
  }
  nav #infobar li, nav ul li {
    opacity: 0;
    height: 0;
  }
  nav .effect {
    display: none;
  }
  nav .hamburger {
    display: flex;
  }
}
@media (max-width: 400px) {
  main .title {
    padding: 1em 0;
  }
  main .wrapper {
    padding: 10px;
  }
  main .wrapper .page_wrapper {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
