@import url('../root.css');

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

body form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body input[type="text"]{
	margin-top: 20px;
	padding: 10px;
	border-radius: 6px;
	border: none;
	outline: none;
	transition: all .2s;
	-webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75), 0px 0px 8px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75), 0px 0px 8px -3px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75), 0px 0px 8px -3px rgba(0,0,0,0.75);
}

body input[type="text"]:focus,
body input[type="text"]:hover{
	-webkit-box-shadow: inset 0px 0px 8px -3px rgba(0,0,0,0.75), 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 8px -3px rgba(0,0,0,0.75), 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 8px -3px rgba(0,0,0,0.75), 0px 0px 8px 0px rgba(0,0,0,0.75);
}

body input[type="submit"]{
	width: 250px;
	margin-top: 20px;
	border-radius: 6px;
	padding: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	transition: all .2s;
}

body input[type="submit"]:hover{
	-webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
}

body input[type="submit"]:focus,
body input[type="submit"]:active{
	-webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75), inset 0px 0px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75), inset 0px 0px 10px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75), inset 0px 0px 10px 1px rgba(0,0,0,0.75);
}