@import url('../root.css');

body, .navbar{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.navbar{
	background: #6002ee;
	width: 100vw;
	position: fixed;
	line-height: 2em;
}

.navbar-item{
	text-decoration: none;
	color: #fff;
	height: 100%;
	transition: all .5s ease;
	display: inline-block;
	padding: 0 10px;
	position: relative;
}

.navbar-item::before{
	content: '';
	height: 3px;
	width: 0%;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 50%;
	transition: all .5s ease;
}

.navbar-item:hover::before{
	width: 100%;
	left: 0%;
}

.navbar-item.active{
	background: #90ee02;
	color: #000;
}

.section{
	padding-top: 2.5em;
}

.container{
	width: 1000px;
}

.block > .title {
  padding-top: 70px;
}