@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root{
	--primary_color: #03A9F4;
	--primary_color_second_way: #4FC3F7;
    --primary_color_third_way: #0288D1;
    --primary_color_fourth_way: #B3E5FC;
	--primary_color_fifth_way: #E1F5FE;

	--secondary_color: #CDDC39;
	--secondary_color_second_way: #DCE775;
    --secondary_color_third_way: #AFB42B;
    --secondary_color_fourth_way: #F0F4C3;
	--secondary_color_fifth_way: #F9FBE7;

	--tertiary_color: #FF5722;
	--tertiary_color_second_way: #FF8A65;
	--tertiary_color_third_way: #E64A19;
}

*{
	margin: 0;
	padding: 0;
	font-size: 30px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
  background: var(--primary_color);
}

body::after,
body::before{
    content: '';
    pointer-events: none;
    position: fixed;
    z-index: -1;
    border-radius: 100%;
}

body::after{
    background: var(--primary_color_third_way);
    width: 140vmin;
    height: 90vmax;
    left: -40vmin;
    bottom: -50vmax;
}

body::before{
    background: var(--primary_color_second_way);
    width: 110vmax;
    height: 90vmax;
    right: -40vw;
    top: -20vh;
}