@import url('../../root.css');

p{
	font-size: 0.8em;
}

h3{
	font-size: 1em;
}

h1{
	font-size: 1.3em;
}

#wypisz{
	width: 1000px;
	margin: 0 auto;
	background: var(--primary_color_fourth_way);
	padding: 10px 30px;
}

#wypisz h1{
	line-height: 1.5em;
	text-align: center;
	margin: 15px 0;

	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(15,15,15,0) 94%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(94%, rgba(15,15,15,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(15,15,15,0) 94%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(15,15,15,0) 94%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(15,15,15,0) 94%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(15,15,15,0) 94%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

}