:root{
	--primary_color: #FF9E80;
	--primary_color_secondary_items: #FFCCBC;
	--primary_color_replace: #FF6E40;

	--second_color: #651FFF;
	--second_color_replace: #6200EA;

	--third_color: #2196F3;
	--third_color_replace: #0D47A1;

	--color_font: #000;
	--color_font_h: #fff;

	--trans: all .2s cubic-bezier(.17,.67,.83,.67);
}