@import url("root.css");

body{
  display: flex;
  justify-content: center;
  /*overscroll-behavior-y: none;*/
}

p, ul{
	width: calc(100vw - 20px);
  max-width: 500px;
  transition: all .5s cubic-bezier(.68,-0.55,.27,1.55);
  height: 3.5em;
}

button{
	font-size: 26px;
	width: 100%;
	line-height: 3em;
	border-radius: 12px;
	cursor: pointer;
	background: var(--secondary_color);
	outline: none;
	border: none;
	overflow: hidden;
	position: relative;
  margin: 20px auto;
}

.lista button::after,
.lista button::before{
  content: '';
  width: 23px;
  height: 5px;
  background: grey;
  top: 45%;
  position: absolute;
  border-radius: 6px;
  z-index: 9;
  transition: all .5s ease;
}

.lista button::after{
  transform: rotate(45deg);
  right: 43px;
}

.lista button::before{
  transform: rotate(-45deg);
  right: 30px;
}

.lista button.active::after{
  right: 30px;
}

.lista button.active::before{
  right: 43px;
}

.effect {
  margin: -100px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  pointer-events: none;

          animation: clickeffect 1s ease;
  -webkit-animation: clickeffect 1s ease;
}

@keyframes clickeffect {
  from {
    opacity: 0.7;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@-webkit-keyframes clickeffect {
  from {
    opacity: 0.7;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}