@import url('../../root.css');

*{
	font-size: unset;
	color: #eee!important;
}

body::after, body::before {
  z-index: 0;
}

#message {
  color: #DDD;
  font-size: 50px;
  margin-bottom: 20px;
}

#timer {
  font-size: 200px;
  line-height: 1;
  margin-bottom: 40px;
}

html{
	font-size: xx-large;
}

.hero-body{
	z-index: 1;
}